@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*Colours*/

.bg-color-name-title{
    background-color: #676767;
}

.bg-color-three-reasons{
    background-color: white;
}

.bg-color-personal-info{
    background-color: silver;
}

.ui-menu-color-home{
    background-color: #e67e22;
}

.ui-menu-color-resume{
    background-color: #9b59b6;
}

.ui-menu-color-contact{
    background-color: #3498db;
}

.ui-menu-color-download{
    background-color: #525252;
}

h1,
h2,
h3,
h4{
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub{
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    color: white;
}

.inline-block {
    display: inline-block;
}

.row-table {
    display:table;
}

.section-column{
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
}

.section-heading {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    margin-top: 25px;
    margin-bottom: 40pxS;
}
/*Heading*/

header{
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo{
    background: url("../images/guy-image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
} 

.name{
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: white;
}

.title{
    font-family: "Roboto", sans-serif;
    font-weight: 150;
    font-size: 26px;
    margin-top: 15px;
    margin-bottom: 90px;
    color: white;

}

.list-inline-item:not(:last-child){
    margin: 0;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav{
    margin: 0;
}
#nav li {
    font-size: 14px;
    padding: 0;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a{
    width: 100%;
    text-decoration: none;
    color: white;
    height: 120px;
}

.menuitem a i{
    padding-top: 25px;
    display: block;
    color: white;
    font-size: 28px;
}

.menuitem span{
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 2px;
}

/*Hover*/
.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 120px;
} 

/*Footer*/

footer{
    background-color: #525252;
    color: white;
    min-height: 120px;
    margin: 0;
}

.cv-pdf i {
    font-size: 18px;
    color: white;
    text-align: center;
    padding-left: 5px;
}

.cv-pdf i:hover{
    color: rgb(226, 85, 85);
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color:white;
    background: #8f8f8f;
}

.social-links li a i:hover {
    background: rgb(226, 85, 85);
}

#footer-details {
    padding: 20px;
}

/*Three Reasons */

.three-reasons-icon{
    font-size: 26px;
    color:#e67e22;
}

.three-reasons-heading{
    margin-bottom: 15px;
}

/*Personel Info*/

.personal-info-item{
    margin-bottom: 20px;
    display: block;
    clear: both;    
}

.personal-info-item .key,
.personal-info-item .value {
    padding-right: 8px;
    display: inline-block;
}

.personal-info-item .key p,
.personal-info-item .value p {
    margin: 0;
}

.personal-info-item .key{
    width: 30%;
    margin-right: 21px;
    padding-top: 2px;
    vertical-align: top;
}

.personal-info-item .value{
    position: relative;
    width: 60%;
}